/* General styles*/
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(247, 247, 247);
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto ;
}
main {
    background-color: #fff;
    padding: 1rem 1rem; 
}
h1, h2, ul {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}
h2, ul {
    text-transform: uppercase;
}
p, h3{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin: 1rem;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 90vw;
}

/* Classes  */

.nav {
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem 1rem;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}
/* media queries */
@media screen and (max-width: 768px) {
    .nav-bottom {
        display: none;
    }
}