/* General styles*/
* {
    box-sizing: border-box;
}
header {
    padding: 0 0 2rem;
}
body {
    background-color: rgb(247, 247, 247);
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto ;
}
main {
    background-color: #fff;
    padding: 2.5rem 1rem; 
}
h1, h2, ul, .to-top {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}
h2, ul, .to-top {
    text-transform: uppercase;
    font-size: 1rem;
}
p, h3{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7rem;
    font-size: 1.1rem;
    margin: 1.5rem .5rem;
}
section {
    padding: 1.5rem 0 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}
footer {
    padding-top: 2rem;
}

/* Classes  */

.nav {
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem 1rem;
}
.intro {
    padding: .4rem;
}
.profile-pic {
    width: 70%;
    margin: 1rem;
}
.contact {
    margin: 0 0 4rem;
    color: rgb(133, 132, 132);
}
.contact-h {
    color: #000;
}
.footer-bottom {
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    border-top: 1px solid rgba(126, 124, 124, .3);
}
/* media queries */
@media screen and (max-width: 768px) {
    .nav-bottom {
        display: none;
    }
}